body {
    background-image: url("Succulent_minimal.jpg");
    background-position: top;
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: white; 
    font-family: 'Inconsolata', monospace;
    src: url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
}

img {
    display:inline-block;
    margin: 0%;
}

h1 {
    font-size: 2.25em;
    line-height: .01em;
    letter-spacing: .05em;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.4em;
    line-height: 1em;
    letter-spacing: .05em;
    margin-bottom: 2px;
}

h3 {
    font-weight: normal;
    line-height: 1em;
    letter-spacing: .05em;
    margin-bottom: 2px;
}

p {
    font-size: .9em;
    line-height: .9em;
    letter-spacing: .05em;
    margin-bottom: 15px;
}

.front {
    text-align: left;
    margin-left: 1000px;
    margin-top: 0.5px;
}

.jannette-text {
    text-align: left;
    margin-left: 115px;
    margin-top: 570px;
}
