body {
    background-image: url("Succulent_minimal.jpg");
    background-position: top;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white; 
    font-family: 'Inconsolata', monospace;
    src: url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
}

img {
    display:block;
    width: 75%;
    height: auto;
    padding-top: 5px;
}

h1 {
    font-size:140%;
    line-height: 1.5em;
    letter-spacing: .05em;
    overflow: visible;
    background-color: white;
}

h2 {
    font-size: 1.4em;
    line-height: 1em;
    letter-spacing: .05em;
}

h3 {
    font-weight: normal;
    line-height: 1em;
    letter-spacing: .05em;
}

p {
    font-size: .9em;
    line-height: 1.5em;
    letter-spacing: .05em;
    margin-bottom: 15px;
}

.bullettext p {
    font-size: .9em;
    line-height: 1em;
    letter-spacing: .05em;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.headertext p {
    color: white;
    margin: 0;
    padding: 0;
}

#toggle {
    font-family: 'Inconsolata', monospace;
    font-size: 110%;
    text-align: left;
    background-color: white;
    letter-spacing: .05em;
    line-height: 1.2em;
    overflow: visible;
    border: none;
}

#header {
    width: 100%;
    height: 6em;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    text-overflow: hidden;
    font-size: xx-small;

}

#jannette-text {
    display: block;
    float: left;
    text-align: left;
    margin-left: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 33.33%;
}

#front {
    display: block;
    float: right;
    text-align: left;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 33.33%;
    background-color: white;
}

#main-text {
    display: none;
    text-align: left;
    position: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 10px;
    clear: both;
    background: white;
}


a:link {
    color: black;
}

a:visited {
    color: #A4CDA4;
}